* {
    border: none;
    margin: 0;
    padding: 0;
    color: rgb(120,120,120);
}
body {
    font-family: "Roboto","Helvetica";
    margin: 0;
}

input[type="text"], input[type="password"], input[type="email"] {
    border-radius: 3px;
    background-color: rgb(220,240,250);
    padding: 5px;
    margin-top: 3px;
    margin-bottom: 7px;
}
input[type="submit"], input[type="button"] {
    padding: 5px;
    border-radius: 2px;
    color: rgb(90, 90, 90);
}

ul {
    list-style: none;
}

p {
    line-height: 1.4;
    padding-top: 2px;
    padding-bottom: 2px;
}
p.small {
    font-size: 90%;
}

a {
    text-decoration: none;
    color: inherit;
}
a.permalink {
    text-decoration: underline;
}

textarea {
    border: 1px solid rgb(200,200,200);
    padding: 7px;
    border-radius: 3px;
    width: 500px;
    height: 100px;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.error, .success {
    padding: 7px;
    margin: 5px;
    border-radius: 2px;
    color: rgb(60,60,60);
}
.error {
    background-color: rgb(250,100,100);
}
.success {
    background-color: rgb(100,250,100);
}
.user-warning {
    font-weight: bold;
    color: rgb(250,100,100);
}

#global-container {

}

form#register, form#login {
    width: 500px;
    margin: auto;
    padding: 17px;
    box-shadow: 0 5px 11px -3px rgb(150, 150, 150);
}

.pagination li {
    display: inline-block;
}

nav {
    position: fixed;
    background-color: rgb(250,250,250);
    box-shadow: 0px 5px 7px -5px rgba(50, 50, 50, 0.5);
    width: 100%;
    z-index: 9;
}

#nav-container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

nav #eoa {
    float: left;
}

nav ul {
    list-style: none;
    margin: 0;
}
nav ul li {
    margin: 0;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7px;
    padding-right: 7px;
}
nav ul li a {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7px;
    padding-right: 7px;
}

nav #user-menu {
    float:right;
}

nav #searchbar {
    float: right;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 20px;
}

nav #searchbar input[type="text"] {
    border: none;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    width: 250px;
    background-color: rgb(220,240,250);
    border-radius: 3px 0 0 3px;
}
nav #searchbar input[type="submit"] {
    border: none;
    padding: 8px;
    border-radius: 0 3px 3px 0;
    background-color: rgb(220,240,250);
}

#main-container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
    min-height: 1140px;
}

.post {
    margin-top: 7px;
    margin-bottom: 11px;
    box-shadow: 0 2px 4px -2px rgb(200, 200, 200);
    padding: 11px;
}
.post.highlight {
    box-shadow: 0 2px 15px 2px rgb(200, 200, 200);
}
.post .post-header {
    height: 20px;
}
.post .user-column {
    display: inline-block;
    width: 150px;
}
.post .post-column {
    display: inline-block;
    vertical-align: top;
}
.post .post-user-avatar {
    width: 80px;
    height: 80px;
}

.announcement {
    margin-bottom: 30px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.announcement li {
    box-shadow: 0 4px 6px -3px rgb(200, 200, 200);
    padding: 9px;
    padding-left: 20px;
    padding-right: 20px;
}

.column {
    display: inline-block;
}

#replies li {
    padding: 9px;
}

.category, #replies li {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 7xp;
    margin-bottom: 7px;
    box-shadow: 0 2px 4px -2px rgb(200, 200, 200);
}

.category h1 {
    font-size: 24px;
}

.category h2 {
    font-size: 20px;
}

.category div {
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
}
.category div:first-child {
    margin-right: 20px;
}
.category div:last-child {
    margin-left: 20px;
}

.category .content {
    width: 600px;
}

.category .stats {
    text-align: center;
}

.category .teaser {
    font-size: 80%;
    white-space: nowrap;
}

.category .teaser {
    width: 240px;
}

.category .teaser .post-content {
    font-size: 95%;
    overflow:hidden;
    text-overflow: ellipsis;
}

.category #cat-subforums {
    font-size: 85%;
}
.category #cat-subforums li {
    display: inline-block;
    min-width: 150px;
    font-weight: bold;
    margin: 4px;
}

#subforums {
    margin-bottom: 25px;
}
